apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: dev-overlay

namespace: dev

resources:
- ../../base/environments/dev
- ../../base/apps/app_1
- ../../base/apps/app_2
- ../../base/apps/ingress


patchesStrategicMerge:
- dev.yaml