apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: sit-overlay

namespace: sit

resources:
- ../../base/environments/sit
- ../../base/apps/app_1
- ../../base/apps/ingress

patchesStrategicMerge:
- sit.yaml