apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: prod-overlay

namespace: prod

resources:
- ../../base/environments/prod
- ../../base/apps/ingress

patchesStrategicMerge:
- prod.yaml